@import './variables.scss';
@import './mixins.scss';
@import './utility-classes.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--accent-strong-opaque);
  font-family: 'Roboto', sans-serif;
  color: $white-color;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.card {
  &_container {
    --card-color: #{$blue-color};
    --card-color-strong-opaque: #{$blue-strong-opaque-color};
    --card-color-opaque: #{$blue-opaque-color};
    --card-color-box-shadow: 0px 4px 30px 16px #{$blue-box-shadow-color};

    min-width: 30rem;
    min-height: 54rem;
    border-radius: 2rem;
    background-color: $white-color;
    box-shadow: var(--card-color-box-shadow);
    @include centerAbsolutely();
  }

  & {
    @include flex();
  }

  &_top {
    padding: 2.15rem 1.75rem;
    @include flex(column, center, center);

    &_name {
      font-size: 3rem;
    }

    &_image {
      margin: 0 auto;
      margin-top: 2.125rem;
      width: 19.5rem;
    }
  }

  &_bottom {
    background-color: var(--card-color);
    flex: 1;
  }

  &_label {
    display: inline-block;
    padding: 0.2em 0.46em;
    background-color: var(--card-color-opaque);
    border-radius: 2em;
    color: var(--card-color);
    font-weight: bold;
  }

  &_statistic {
    &_container {
      width: 100%;
      margin-top: 0.75rem;
      @include flex(row, space-between);
    }

    & {
      @include flex(row, center, self-end);
      @include statisticColors();
    }

    &_points {
      padding: 0.125em 0.5em;
      background-color: var(--opaque-color);
      border-radius: 0.5em;
      color: var(--color);
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 1;
    }

    &_icon {
      @include centerAbsolutely();
      margin-top: 0.15rem;
      height: 1.75rem;

      &_swords {
        margin-top: 0;
        height: 2.25rem;
      }

      &_circle {
        $circle-size: 3.25rem;
        margin-top: 2.25rem;
        margin-left: -1.75rem;

        position: relative;
        width: $circle-size;
        height: $circle-size;
        background-color: var(--color);
        border-radius: 50%;
      }
    }
  }
}
