@import './variables.scss';
@import './mixins.scss';
@import './utility-classes.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  font-size: 0.75rem;
  @media screen and (max-width: 1920px) {
    font-size: calc(0px + 12 * calc((100vw - 320px) / 1600));
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  --background-color: #{$light-color};

  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  color: $white-color;
  overflow: hidden;
  transition: background-color $transition-time ease;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.cards {
  &_container {
    height: 100vh;
    width: 100%;
    @include flex(row, space-evenly, center);
  }
}

.card {
  background-color: $white-color;

  &_container {
    --card-color: #{$blue-color};
    --card-color-opaque: #{$blue-opaque-color};

    border-radius: 2rem;
    background-color: transparent;
    box-shadow: $card-box-shadow;
    overflow: hidden;
    align-self: center;
    transition: transform $transition-time ease;
    @include flex(row, center, self-end);
    @include cardColors();

    *::selection {
      color: var(--card-color);
      background-color: $white-color;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  & {
    width: 30rem;
    min-height: 54rem;
    @include flex();
  }

  &_top {
    padding: 2.15rem 1.75rem 1.25rem;
    @include flex(column, center, center);

    &_name {
      font-size: 3rem;
    }

    &_image {
      margin: 0 auto;
      margin-top: 2.125rem;
      height: 19.625rem;
    }
  }

  &_bottom {
    padding: 1.5rem 2rem;
    background-color: var(--card-color);
    box-shadow: var(--card-color-box-shadow);
    flex: 1;

    &_title,
    &_description {
      text-align: center;
    }

    &_title {
      font-size: 2rem;
      margin-bottom: 0.75rem;
    }

    &_description {
      font-size: 1.5rem;
      letter-spacing: -0.02em;
    }
  }

  .label {
    --label-background: var(--card-color-opaque);
    --label-color: var(--card-color);

    display: inline-block;
    padding: 0.2em 0.46em;
    background-color: var(--label-background);
    border-radius: 2em;
    color: var(--label-color);
    font-weight: bold;
    user-select: none;

    &_white {
      --label-background: #{$white-opaque-color};
      --label-color: #{$white-color};
      padding: 0.3em 0.5em;
    }

    &_container {
      font-size: 1.5rem;
      margin-top: 1.25rem;
      @include flex(row, space-between);
    }
  }

  &_statistic {
    &_container {
      width: 100%;
      margin-top: 0.75rem;
      @include flex(row, space-between);
    }

    & {
      user-select: none;
      @include flex(row, center, self-end);
      @include statisticColors();
    }

    &_points {
      padding: 0.125em 0.5em;
      background-color: var(--opaque-color);
      border-radius: 0.5em;
      color: var(--color);
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 1;
    }

    &_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0.15rem;
      height: 1.75rem;

      &_swords {
        margin-top: 0;
        height: 2.25rem;
      }

      &_circle {
        $circle-size: 3.25rem;
        margin-top: 2.25rem;
        margin-left: -1.75rem;

        position: relative;
        width: $circle-size;
        height: $circle-size;
        background-color: var(--color);
        border-radius: 50%;
      }
    }
  }
}
